.md-tabs__item {
  position: relative;
}

.md-tabs__list,
nav.md-tabs {
  contain: unset;
  overflow: visible;
}

ul.header-dropdown-menu {
  display: none;
  background-color: var(--md-primary-fg-color);
  list-style: none;
  position: absolute;
  padding: 0.5rem 1rem 0.4rem 1rem;
  top: 1.5rem;
  left: 0;
  z-index: 1;
  font-size: 0.7rem;
  line-height: 2;
}

ul.header-dropdown-menu > li {
  opacity: 0.7;
}

ul.header-dropdown-menu > li > a {
  transition-delay: 20ms;
}

a.md-tabs__link:hover + ul.header-dropdown-menu,
ul.header-dropdown-menu:hover {
  display: block;
}

ul.header-dropdown-menu > li:hover,
.md-tabs__item:hover > a.md-tabs__link {
  opacity: 1;
}
