.gallery {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

div.gallery-item {
  flex: 0 0 23%;
  margin: 5px;
  border: 1px solid var(--md-typeset-table-color);
  width: 180px;
  border-radius: 5px;
}

div.gallery-item:hover {
  border: 1px solid var(--md-default-fg-color--light);
}

div.gallery-item img {
  margin: 3px;
  width: calc(100% - 6px);
  height: auto;
}

div.desc {
  padding: 5px 15px 10px 15px;
  text-align: center;
}
