/* basthon logo on main page */
p:has(> .basthon-logo-home) {
  margin: 0;
  text-align: center;
}
.basthon-logo-home {
  width: 30vw;
  filter: drop-shadow(1vh 1vh 0.6vh rgba(0, 0, 0, 0.5));
}

/* sublogos on main page */
.basthon-logo-console-home,
.basthon-logo-notebook-home {
  display: inline-block;
  text-align: center;
  width: 12vw;
  font-size: 0px;
  filter: drop-shadow(1vh 1vh 0.6vh rgba(0, 0, 0, 0.5));
}

.basthon-logo-console-home:hover,
.basthon-logo-notebook-home:hover {
  filter: drop-shadow(1vh 1vh 0.6vh rgba(0, 0, 0, 0));
}

p:has(> .basthon-logo-console-home) {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 80%;
  margin: auto;
  margin-top: 5vw;
}

/* ci/cd badge */
.md-main {
  position: relative;
}

.ci-cd-badge {
  z-index: 100;
  position: absolute;
  top: 5px;
  right: 5px;
}

#subtitle {
  text-align: center;
  font-size: 1.17vw;
  color: var(--md-default-fg-color--light);
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: unset;
}

.language-scroller {
  height: 1.75vw;
  overflow: hidden;
  position: relative;
}

.language-scroller::before {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  content: "";
  height: 0.4vw;
  position: absolute;
  background: linear-gradient(
    180deg,
    var(--md-default-bg-color),
    rgba(0, 0, 0, 0)
  );
}

.language-scroller::after {
  left: 0;
  bottom: 0;
  z-index: 1;
  width: 100%;
  content: "";
  height: 0.4vw;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0),
    var(--md-default-bg-color)
  );
}

[dir="ltr"] .language-scroller ul {
  float: right;
  margin: 0;
  padding: 0;
  animation: scroll-up-language 4s ease-in-out infinite normal;
}

[dir="ltr"] .language-scroller ul li {
  margin-left: 0;
  opacity: 1;
  height: 1vw;
  padding: 0vw 0vw 0.8vw 0.4vw;
  list-style: none;
}

@keyframes scroll-up-language {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-89%);
  }
}
