@import url("./main-page.css");
@import url("./dropdown-menu.css");
@import url("./gallery.css");

/* hide title next to icon */
.md-header__title > div > div {
  display: none;
}

/* hide title next to icon in burger menu */
nav.md-nav > label.md-nav__title[for="__drawer"] {
  height: unset;
  line-height: unset;
  padding-bottom: 1rem;
  font-size: 0;
}

/* theme colors */
[data-md-color-scheme="slate"],
[data-md-color-scheme="default"] {
  --md-typeset-a-color: #366f9e;
  --md-primary-fg-color: #366f9e;
  --md-accent-fg-color: #ffc938;
}
[data-md-color-scheme="slate"] {
  --md-default-bg-color: hsla(var(--md-hue), 0%, 14%, 1);
}

/* centering videos, images etc. */
p:has(> .md-center) {
  text-align: center;
}

/* removing margin after home icon */
[dir="ltr"] .md-tabs__link svg {
  margin-right: 0;
}

/* hide Basthon title on main page */
.no-title {
  display: none;
}

/* download doc to pdf */
.doc-download-pdf {
  font-size: 30px;
}

/* no footer */
.md-footer {
  display: none;
}

/* gallery play icon */
.play-icon-in-text {
  width: 25px;
  filter: drop-shadow(1vh 1vh 0.6vh rgba(0, 0, 0, 0.5));
}
