body {
  background-color: white;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}

html,
body,
#main,
.ExecutionVisualizer {
  width: fit-content;
}

td.cod > pre {
  margin: 0;
}

td.cod > pre > code.hljs {
  padding: 0;
  background-color: white;
  overflow: hidden;
}
