{% extends "page.html" %}

{% block content %}
{{ super() }}
<h1>Documentation</h1>
<div style="text-align: center; margin: auto; padding-bottom: 20px;">
  <a class="shadowed" href="{{ SITEURL }}/theme/assets/pdf/Basthon_Documentation.pdf">
    <img src="{{ SITEURL }}/theme/assets/img/file-download.svg" alt="Télécharger la documentation" title="Télécharger la documentation" style="height: 3vw;"/>
  </a>
</div>
<iframe id="doc" src="{{ SITEURL }}/theme/assets/pdf/Basthon_Documentation.pdf"
        style="height: 100vw; width: 100%; border:none;"></iframe>
{% endblock %}
{% block endbody %}
{{ super() }}
<script>
  <!-- forwarding hash URL part to PDF for section or page selection -->
  var url = new URL(window.location.href);
  if( url.hash ) {
      var doc = document.getElementById("doc");
      doc.src = doc.src + url.hash;
  }
</script>
{% endblock %}
