.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

div.gallery-item {
    flex: 0 0 23%;
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
    border-radius: 5px;
}

div.gallery-item:hover {
    border: 1px solid #777;
}

div.gallery-item img {
    margin: 3px;
    width: calc(100% - 6px);
    height: auto;
}

div.desc {
    padding: 5px 15px 10px 15px;
    text-align: center;
}

.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #0366d6;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #0366d6;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #f8f8f8;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}
